<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
	<div align="center">
    <form method="post" action="{% url 'registration' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td><label>Your login:</label></td>
        <td><input type="text" name="username"></td>
    </tr>
    <tr>
        <td><label>Your nickname:</label></td>
        <td><input type="text" name="nickname"></td>
    </tr>
    <tr>
        <td><label>Your password:</label></td>
        <td><input type="password" name="password"></td>
    </tr>
    </table>

    <input type="submit" value="Registration">
    </form>
	</div>
</body>
</html>
