<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit profile</title>
</head>
<body>
    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}

        <table>
        <tr>
            <td><label for="username">Name:</label><br></td>
            <td><input type="text" id="username" name="username"></td>
        </tr>
        </table>

        <input type="submit" value="Apply">
    </form>
</body>
</html>
