<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit post</title>
</head>
<body>
	<div align="center">
		<form method="post" action="{% url 'edit_post' id=post.pk %}">
        {% csrf_token %}

        <h1>Привет, {{ user.username }}. Что нового?</h1>
        <table>
        <tr>
            <td><label for="post-text">Текст:</label><br></td>
            <td><input type="text" id="post-text" name="text"></td>
        </tr>
        </table>

        <input type="submit" value="Create">
    </form>
	</div>
</body>
</html>
