<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
<style>
    .post {
        width: 500px;
        margin: auto;
        background-color: lightgray;
    }
    .header {
        padding: 8px 0 8px 0;
        background-color: gray;
        margin: 0 0 10px 0;
    }
    .nav-bar {
        width: 600px;
        margin: auto;
    }

    body {
        margin: 0;
    }
</style>
    <div class="header">
        <div class="nav-bar">
            <b align="center"><a href="{% url 'index' %}">Twisty</a></b>
            {% if user.is_authenticated %}
            <a href="{% url 'create_post' %}">New post</a>
            <a href="{% url 'profile' %}">My profile</a>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'registration' %}">Registration</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% for post in posts %}
        <div align="center" class="post">
            <b>Author: <a href="{% url 'profile_id' id=post.author.pk %}">{{ post.author.name }}</a></b>
            <p>Created at: {{ post.created.date }} {{ post.created.time }}</p>
            {% if post.changed %}
            <p>
                <i>Changed</i>
            </p>
            {% endif %}

            {% if post.author.owner == user %}
            {# TODO: Это потом лучше сделать через API и JS #}
			<form method="post" action="{% url 'delete_post' %}">
			{% csrf_token %}
			<input hidden type="text" name="index_del" value="{{ forloop.counter0 }}">
			<input type="submit" value="del">
			</form>

			<form method="post" action="{% url 'edit_post' %}">
			{% csrf_token %}
			<input hidden type="text" name="index_edit" value="{{ forloop.counter0 }}">
			<input type="submit" value="edit">		
			</form><br>
            {% endif %}

            <hr>
            <p>{{ post.text }}</p>
            <hr>
            <p>Karma: {{post.karma}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
